/* line 5, ../sass/style.sass */
select, option {
  font-family: "FontAwesome";
}

/* line 7, ../sass/style.sass */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica;
}

/* line 12, ../sass/style.sass */
body, html {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #EDEFED;
}

/* line 18, ../sass/style.sass */
a {
  text-decoration: none !important;
  color: #fff;
  display: inline-block;
}

/* line 23, ../sass/style.sass */
header {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://lorempixel.com/900/800/nature");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0px 0;
  height: 400px;
}
/* line 34, ../sass/style.sass */
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  flex-wrap: wrap;
}
/* line 41, ../sass/style.sass */
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 47, ../sass/style.sass */
header ul #first-item-nav {
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* line 51, ../sass/style.sass */
header ul #first-item-nav:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
/* line 54, ../sass/style.sass */
header li {
  display: inline-block;
}
/* line 56, ../sass/style.sass */
header li a {
  padding: 10px;
}
/* line 59, ../sass/style.sass */
header .logo {
  flex-grow: 2;
  flex-shrink: 1;
  font-size: 23px;
}
/* line 64, ../sass/style.sass */
header .logo a span {
  color: #ff5a5f;
}
/* line 66, ../sass/style.sass */
header .logo a img {
  width: 40px;
  height: 30px;
  position: relative;
  top: 3px;
}
/* line 72, ../sass/style.sass */
header .kicker {
  color: #fff;
  text-align: center;
}
/* line 75, ../sass/style.sass */
header .kicker h1, header .kicker p {
  margin: 0;
  line-height: 1.7;
}
/* line 78, ../sass/style.sass */
header .kicker a {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
/* line 84, ../sass/style.sass */
header .kicker a:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
}
/* line 88, ../sass/style.sass */
header .navbar-search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 95, ../sass/style.sass */
header .navbar-search .border-radius-left {
  border-radius: 3px 0 0 3px;
}
/* line 97, ../sass/style.sass */
header .navbar-search .border-radius-right {
  border-radius: 0 3px 3px 0;
}
/* line 99, ../sass/style.sass */
header .navbar-search * {
  float: left;
}
/* line 101, ../sass/style.sass */
header .navbar-search input {
  border: none;
  padding: 10px;
  border-right: 1px solid #ccc;
}
/* line 105, ../sass/style.sass */
header .navbar-search input:focus, header .navbar-search input :active {
  box-shadow: none;
  outline: none;
}
/* line 108, ../sass/style.sass */
header .navbar-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-weight: lighter;
  color: #ccc;
  padding: 10px 15px;
  border-radius: 0;
  border: none;
  line-height: 1.2;
}
/* line 119, ../sass/style.sass */
header .navbar-search select:focus, header .navbar-search select :active {
  box-shadow: none;
  outline: none;
}
/* line 122, ../sass/style.sass */
header .navbar-search button {
  border: none;
  background-color: #ff5a5f;
  color: #fff;
  padding: 8px 20px !important;
}
/* line 127, ../sass/style.sass */
header .navbar-search button:focus, header .navbar-search button :active {
  outline: none;
}
/* line 129, ../sass/style.sass */
header .navbar-search button:hover {
  background-color: rgba(255, 90, 95, 0.9);
}

/* line 132, ../sass/style.sass */
.first-block-content {
  width: 850px;
  max-width: 80%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
/* line 143, ../sass/style.sass */
.first-block-content .img-div-left {
  background-image: url("http://lorempixel.com/900/900/nature");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 0px;
  flex: 1 0 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 154, ../sass/style.sass */
.first-block-content .text-div-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 90px 40px;
  color: #565a5c;
}
/* line 162, ../sass/style.sass */
.first-block-content .text-div-right h2 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
/* line 166, ../sass/style.sass */
.first-block-content .text-div-right p {
  font-size: 30px;
  display: inline-block;
  font-weight: bolder;
}
/* line 170, ../sass/style.sass */
.first-block-content .text-div-right .button {
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}
/* line 175, ../sass/style.sass */
.first-block-content .text-div-right .button:hover {
  background-color: rgba(255, 90, 95, 0.8);
}

/* line 178, ../sass/style.sass */
.text-center {
  text-align: center;
  color: #565a5c;
}

/* line 181, ../sass/style.sass */
h2.text-center {
  font-size: 30px;
  margin: 80px 0 0 0;
  line-height: 2;
}

/* line 185, ../sass/style.sass */
p.text-center {
  margin: 0;
}

/* line 188, ../sass/style.sass */
.second-block-content {
  width: 950px;
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 195, ../sass/style.sass */
.second-block-content .img-second-block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* line 207, ../sass/style.sass */
.second-block-content .img-second-block:nth-child(3) {
  margin-right: 0;
}
/* line 209, ../sass/style.sass */
.second-block-content .img-second-block.lille {
  background-image: url("../images/lille.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 213, ../sass/style.sass */
.second-block-content .img-second-block.bruxelles {
  background-image: url("../images/bruxelles.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 217, ../sass/style.sass */
.second-block-content .img-second-block.londres {
  background-image: url("../images/londres.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 221, ../sass/style.sass */
.second-block-content .button-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
/* line 225, ../sass/style.sass */
.second-block-content .button-container .button {
  color: #565a5c;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(86, 90, 92, 0.3);
  width: 300px;
  padding: 10px 50px;
  margin-top: 30px;
  transition: border 0.3s ease;
  font-weight: bolder;
}
/* line 237, ../sass/style.sass */
.second-block-content .button-container .button:hover {
  border: 1px solid rgba(86, 90, 92, 0.6);
}

/* line 240, ../sass/style.sass */
.my-flex-box {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
/* line 248, ../sass/style.sass */
.my-flex-box .img {
  height: 350px;
  max-width: 310px;
  margin: 10px;
  background-color: #ff5a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  flex: 1 1 2%;
  min-width: 313px;
}
/* line 258, ../sass/style.sass */
.my-flex-box .img.img1 {
  flex: 1 1 60%;
}
/* line 263, ../sass/style.sass */
.my-flex-box .img.img3 {
  flex: 1 1 25px;
}
/* line 265, ../sass/style.sass */
.my-flex-box .img.img4 {
  flex: 1 1 25px;
}
/* line 267, ../sass/style.sass */
.my-flex-box .img.img5 {
  flex: 1 1 25px;
}
/* line 269, ../sass/style.sass */
.my-flex-box .img.img6 {
  flex: 1 1 2%;
  min-width: 313px;
}
/* line 272, ../sass/style.sass */
.my-flex-box .img.img7 {
  flex: 1 1 60%;
}

/* line 278, ../sass/style.sass */
.item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 282, ../sass/style.sass */
.item .slide1 {
  background-image: url("../images/slide1.jpg");
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 288, ../sass/style.sass */
.item .slide1 * {
  text-shadow: none;
}
/* line 290, ../sass/style.sass */
.item .slide1 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 293, ../sass/style.sass */
.item .slide1 p {
  font-size: 30px;
}
/* line 295, ../sass/style.sass */
.item .slide1 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 301, ../sass/style.sass */
.item .slide1 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 305, ../sass/style.sass */
.slide2 {
  background-image: url("../images/slide2.jpg");
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 311, ../sass/style.sass */
.slide2 * {
  text-shadow: none;
}
/* line 313, ../sass/style.sass */
.slide2 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 316, ../sass/style.sass */
.slide2 p {
  font-size: 30px;
}
/* line 318, ../sass/style.sass */
.slide2 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 324, ../sass/style.sass */
.slide2 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 327, ../sass/style.sass */
.slide3 {
  background-image: url("../images/slide3.jpg");
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 334, ../sass/style.sass */
.slide3 * {
  text-shadow: none;
}
/* line 336, ../sass/style.sass */
.slide3 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 339, ../sass/style.sass */
.slide3 p {
  font-size: 30px;
}
/* line 341, ../sass/style.sass */
.slide3 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 347, ../sass/style.sass */
.slide3 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 351, ../sass/style.sass */
.carousel {
  height: 600px;
  width: 100%;
}
/* line 354, ../sass/style.sass */
.carousel.slide {
  margin-top: 80px;
}
/* line 356, ../sass/style.sass */
.carousel .carousel-inner {
  height: 100%;
  width: 100%;
}
/* line 359, ../sass/style.sass */
.carousel .carousel-inner .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
/* line 366, ../sass/style.sass */
.carousel .carousel-inner .item {
  height: 100%;
  width: 100%;
  color: black;
}

/* line 370, ../sass/style.sass */
a.carousel-control {
  transition: all 0.3s ease;
}

/* line 372, ../sass/style.sass */
h2.text-center.bottom {
  margin-top: 30px;
}

/* line 374, ../sass/style.sass */
.fourth-block-square {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}
/* line 379, ../sass/style.sass */
.fourth-block-square .square {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 492px;
  width: 345px;
  background-color: blue;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 0 1 300px;
}
/* line 390, ../sass/style.sass */
.fourth-block-square .square.square1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00d1c1;
}
/* line 396, ../sass/style.sass */
.fourth-block-square .square.square1 img {
  position: relative;
  z-index: 9999;
}
/* line 399, ../sass/style.sass */
.fourth-block-square .square::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
/* line 408, ../sass/style.sass */
.fourth-block-square .square:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 410, ../sass/style.sass */
.fourth-block-square .square.square2 {
  background-image: url("../images/square2.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}
/* line 417, ../sass/style.sass */
.fourth-block-square .square.square2 span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
/* line 423, ../sass/style.sass */
.fourth-block-square .square.square3 {
  background-image: url("../images/square3.jpg");
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 430, ../sass/style.sass */
.fourth-block-square .square.square3 h2 {
  flex-grow: 1;
}
/* line 433, ../sass/style.sass */
.fourth-block-square .square.square4 {
  background-image: url("../images/square4.jpg");
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 440, ../sass/style.sass */
.fourth-block-square .square.square4 h2 {
  flex-grow: 1;
}

/* line 444, ../sass/style.sass */
.button-green {
  padding: 10px 15px;
  background-color: #007a87;
}
/* line 447, ../sass/style.sass */
.button-green.button-black {
  background-color: #393c3d;
}
/* line 449, ../sass/style.sass */
.button-green.button-pink {
  background-color: #7b0051;
}

/* line 452, ../sass/style.sass */
footer {
  background-image: url("../images/background.png");
  background-size: contain;
  background-color: #2b2d2e;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  color: #fff;
}
/* line 464, ../sass/style.sass */
footer .selecta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* line 468, ../sass/style.sass */
footer .selecta select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #565A5C;
  padding: 10px;
  border: none;
  border-radius: 0;
}
/* line 478, ../sass/style.sass */
footer .selecta * {
  margin: 10px;
}
/* line 480, ../sass/style.sass */
footer .plan-site-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 485, ../sass/style.sass */
footer .plan-site-footer .title-li {
  margin-bottom: 20px;
  font-size: 18px;
}
/* line 489, ../sass/style.sass */
footer .plan-site-footer ul, footer .plan-site-footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 493, ../sass/style.sass */
footer .plan-site-footer ul {
  padding: 20px;
  flex-basis: 23%;
}
/* line 498, ../sass/style.sass */
footer .social-links {
  padding-top: 20px;
  display: flex;
}
/* line 501, ../sass/style.sass */
footer .social-links .icon-rounded {
  margin: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #565A5C;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
/* line 511, ../sass/style.sass */
footer .social-links .icon-rounded.twitter:hover {
  border-color: #3498db;
  color: #3498db;
  transition: all 0s ease-in-out;
}
/* line 515, ../sass/style.sass */
footer .social-links .icon-rounded.facebook:hover {
  border-color: #2980b9;
  color: #2980b9;
  transition: all 0s ease-in-out;
}
/* line 520, ../sass/style.sass */
footer .social-links .icon-rounded.google:hover {
  border-color: #e74c3c;
  color: #e74c3c;
  transition: all 0s ease-in-out;
}
/* line 525, ../sass/style.sass */
footer .social-links .icon-rounded.github:hover {
  border-color: #34495e;
  color: #34495e;
  transition: all 0s ease-in-out;
}
/* line 530, ../sass/style.sass */
footer .social-links .icon-rounded.linkedin:hover {
  border-color: #95a5a6;
  color: #95a5a6;
  transition: all 0s ease-in-out;
}
/* line 535, ../sass/style.sass */
footer .social-links .icon-rounded.pinterest:hover {
  border-color: #c0392b;
  color: #c0392b;
  transition: all 0s ease-in-out;
}
