/* line 5, ../sass/style.sass */
select, option {
  font-family: "FontAwesome";
}

/* line 7, ../sass/style.sass */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica;
}

/* line 12, ../sass/style.sass */
body, html {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #EDEFED;
}

/* line 18, ../sass/style.sass */
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

/* line 23, ../sass/style.sass */
header {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://lorempixel.com/900/800/nature");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0px 0;
  height: 400px;
}
/* line 34, ../sass/style.sass */
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  flex-wrap: wrap;
}
/* line 41, ../sass/style.sass */
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 47, ../sass/style.sass */
header ul #first-item-nav {
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* line 51, ../sass/style.sass */
header ul #first-item-nav:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 53, ../sass/style.sass */
header li {
  display: inline-block;
}
/* line 55, ../sass/style.sass */
header li a {
  padding: 10px;
}
/* line 58, ../sass/style.sass */
header .logo {
  flex-grow: 2;
  flex-shrink: 1;
  font-size: 23px;
}
/* line 63, ../sass/style.sass */
header .logo a span {
  color: #ff5a5f;
}
/* line 65, ../sass/style.sass */
header .logo a img {
  width: 40px;
  height: 30px;
  position: relative;
  top: 3px;
}
/* line 71, ../sass/style.sass */
header .kicker {
  color: #fff;
  text-align: center;
}
/* line 74, ../sass/style.sass */
header .kicker h1, header .kicker p {
  margin: 0;
  line-height: 1.7;
}
/* line 77, ../sass/style.sass */
header .kicker a {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
/* line 83, ../sass/style.sass */
header .kicker a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 86, ../sass/style.sass */
header .navbar-search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 93, ../sass/style.sass */
header .navbar-search .border-radius-left {
  border-radius: 3px 0 0 3px;
}
/* line 95, ../sass/style.sass */
header .navbar-search .border-radius-right {
  border-radius: 0 3px 3px 0;
}
/* line 97, ../sass/style.sass */
header .navbar-search * {
  float: left;
}
/* line 99, ../sass/style.sass */
header .navbar-search input {
  border: none;
  padding: 10px;
  border-right: 1px solid #ccc;
}
/* line 103, ../sass/style.sass */
header .navbar-search input:focus, header .navbar-search input :active {
  box-shadow: none;
  outline: none;
}
/* line 106, ../sass/style.sass */
header .navbar-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-weight: lighter;
  color: #ccc;
  padding: 10px 15px;
  border-radius: 0;
  border: none;
  line-height: 1.2;
}
/* line 117, ../sass/style.sass */
header .navbar-search select:focus, header .navbar-search select :active {
  box-shadow: none;
  outline: none;
}
/* line 120, ../sass/style.sass */
header .navbar-search button {
  border: none;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
}
/* line 125, ../sass/style.sass */
header .navbar-search button:focus, header .navbar-search button :active {
  outline: none;
}
/* line 127, ../sass/style.sass */
header .navbar-search button:hover {
  background-color: rgba(255, 90, 95, 0.9);
}

/* line 130, ../sass/style.sass */
.first-block-content {
  width: 850px;
  max-width: 80%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
/* line 141, ../sass/style.sass */
.first-block-content .img-div-left {
  background-image: url("http://lorempixel.com/900/900/nature");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 0px;
  flex: 1 0 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 152, ../sass/style.sass */
.first-block-content .text-div-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 90px 40px;
  color: #565a5c;
}
/* line 160, ../sass/style.sass */
.first-block-content .text-div-right h2 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
/* line 164, ../sass/style.sass */
.first-block-content .text-div-right p {
  font-size: 30px;
  display: inline-block;
  font-weight: bolder;
}
/* line 168, ../sass/style.sass */
.first-block-content .text-div-right .button {
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}
/* line 173, ../sass/style.sass */
.first-block-content .text-div-right .button:hover {
  background-color: rgba(255, 90, 95, 0.8);
}

/* line 176, ../sass/style.sass */
.text-center {
  text-align: center;
  color: #565a5c;
}

/* line 179, ../sass/style.sass */
h2.text-center {
  font-size: 30px;
  margin: 80px 0 0 0;
  line-height: 2;
}

/* line 183, ../sass/style.sass */
p.text-center {
  margin: 0;
}

/* line 186, ../sass/style.sass */
.second-block-content {
  width: 950px;
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 193, ../sass/style.sass */
.second-block-content .img-second-block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* line 205, ../sass/style.sass */
.second-block-content .img-second-block:nth-child(3) {
  margin-right: 0;
}
/* line 207, ../sass/style.sass */
.second-block-content .img-second-block.lille {
  background-image: url("../images/lille.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 211, ../sass/style.sass */
.second-block-content .img-second-block.bruxelles {
  background-image: url("../images/bruxelles.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 215, ../sass/style.sass */
.second-block-content .img-second-block.londres {
  background-image: url("../images/londres.jpeg");
  flex: 1 0 280px;
  margin: 10px;
}
/* line 219, ../sass/style.sass */
.second-block-content .button-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
/* line 223, ../sass/style.sass */
.second-block-content .button-container .button {
  color: #565a5c;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(86, 90, 92, 0.3);
  width: 300px;
  padding: 10px 50px;
  margin-top: 30px;
  transition: border 0.3s ease;
  font-weight: bolder;
}
/* line 235, ../sass/style.sass */
.second-block-content .button-container .button:hover {
  border: 1px solid rgba(86, 90, 92, 0.6);
}

/* line 238, ../sass/style.sass */
.my-flex-box {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
/* line 246, ../sass/style.sass */
.my-flex-box .img {
  height: 350px;
  min-width: 310px;
  margin: 10px;
  background-color: #ff5a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  flex: 1 1 2%;
  min-width: 313px;
}
/* line 256, ../sass/style.sass */
.my-flex-box .img.img1 {
  flex: 1 1 60%;
}
/* line 261, ../sass/style.sass */
.my-flex-box .img.img3 {
  flex: 1 1 25px;
}
/* line 263, ../sass/style.sass */
.my-flex-box .img.img4 {
  flex: 1 1 25px;
}
/* line 265, ../sass/style.sass */
.my-flex-box .img.img5 {
  flex: 1 1 25px;
}
/* line 267, ../sass/style.sass */
.my-flex-box .img.img6 {
  flex: 1 1 2%;
  min-width: 313px;
}
/* line 270, ../sass/style.sass */
.my-flex-box .img.img7 {
  flex: 1 1 60%;
}

/* line 276, ../sass/style.sass */
.item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 280, ../sass/style.sass */
.item .slide1 {
  background-image: url("../images/slide1.jpg");
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 286, ../sass/style.sass */
.item .slide1 * {
  text-shadow: none;
}
/* line 288, ../sass/style.sass */
.item .slide1 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 291, ../sass/style.sass */
.item .slide1 p {
  font-size: 30px;
}
/* line 293, ../sass/style.sass */
.item .slide1 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 299, ../sass/style.sass */
.item .slide1 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 303, ../sass/style.sass */
.slide2 {
  background-image: url("../images/slide2.jpg");
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 309, ../sass/style.sass */
.slide2 * {
  text-shadow: none;
}
/* line 311, ../sass/style.sass */
.slide2 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 314, ../sass/style.sass */
.slide2 p {
  font-size: 30px;
}
/* line 316, ../sass/style.sass */
.slide2 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 322, ../sass/style.sass */
.slide2 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 325, ../sass/style.sass */
.slide3 {
  background-image: url("../images/slide3.jpg");
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 332, ../sass/style.sass */
.slide3 * {
  text-shadow: none;
}
/* line 334, ../sass/style.sass */
.slide3 h1 {
  font-size: 70px;
  margin: 0;
}
/* line 337, ../sass/style.sass */
.slide3 p {
  font-size: 30px;
}
/* line 339, ../sass/style.sass */
.slide3 a {
  font-size: 90px;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  transition: all 0.4s ease-in-out;
}
/* line 345, ../sass/style.sass */
.slide3 a:hover {
  transform: scale(1);
  color: #fff;
}

/* line 349, ../sass/style.sass */
.carousel {
  height: 600px;
  width: 100%;
}
/* line 352, ../sass/style.sass */
.carousel.slide {
  margin-top: 80px;
}
/* line 354, ../sass/style.sass */
.carousel .carousel-inner {
  height: 100%;
  width: 100%;
}
/* line 357, ../sass/style.sass */
.carousel .carousel-inner .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
/* line 364, ../sass/style.sass */
.carousel .carousel-inner .item {
  height: 100%;
  width: 100%;
  color: black;
}

/* line 368, ../sass/style.sass */
a.carousel-control {
  transition: all 0.3s ease;
}

/* line 370, ../sass/style.sass */
h2.text-center.bottom {
  margin-top: 30px;
}
